{% extends "layouts/app.twig" %}
{% block title %}
    contact
{% endblock title %}
{% block content %}
    <form action="{{path_for("contact")}}" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <button type="submit">Submit</button>
</form>
{% endblock content %}